body {
  text-align: center;
}

.del-btn {
  background-color:  rgba(202, 19, 19, 0.582);
}
.calc-display {
  margin-top: 60px;
  border: black;
  border-style: groove;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 30px;
  padding: 15px;
}

.input-display {
  position: relative;
  padding: 40px 40px 40px 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.op-btn {
  padding: 0px 5px 19px 5px;
}

.equals-btn {
  height: 27px;
  width: 40px;
  font-stretch: expanded;
  background: rgba(29, 245, 29, 0.493);
}